#container,
#cards {
    background-color: rgba(38, 113, 212, 0.8);
    color: rgb(200,200,200);
    display: none;
    width: 20%;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: .5em;
    border-radius: 5px;
    font-size: .8rem;
}

#cards {
    color: white;
    z-index: 10;
    text-align: center;
    font-size: .9rem;
    text-shadow: rgb(255,255,255);
}

strong {
    color: black;
    font-size: .8em;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
}
#message {
    width: 10%;
    display: none;
    margin: 0 auto;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(38, 113, 212, 0.8);
    color: rgb(220,220,220);
    padding: 1em;
    border-radius: 5px;
    font-size: .8rem;
    text-align: center;
    /* height: 30px; */
}

h2 {
    text-align: center;
    margin: 1.5em auto 0;
}

.help-list {
    margin: 0;
    padding: 10px;
}
.help-list li {
    margin: 5px 0;
    list-style: none;
}

.command {
    display: block;
    padding: 5px;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    background-color: rgba(200,200,200,.8);
    color: rgb(25,25,25);
    font-size: 1.15em;
    margin-top: 1em;
    margin-bottom: .25em;
}