html, body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#app, .video {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  position: relative;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 1s all;
}
